@import "reset";
@import "./variables/global";
@import "./themes/light";
@import "./themes/dark";
@import "templatesForAll";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap");

body {
    font: var(--font-m);
    font-weight: 500;
    color: var(--primary-color);
}

.app {
    background: var(--bg-color);
    min-height: 100vh;
    font: var(--font-m);
    font-weight: 500;
    color: var(--primary-color);
}

.content-page {
    display: flex;
}

.page-wrapper {
    flex-grow: 1;
    padding: 24px;
}
