.Button {
    cursor: pointer;
    position: relative;
    display: inline-block;
    padding: 0.3rem 1.6rem;
    border: none;
    outline: none;
    color: var(--primary-color);
    letter-spacing: 1px;
    border-radius: 4px;
    overflow: hidden;
}

.square {
    border-radius: 0;
}

.size_s {
    font: var(--font-s);
}

.size_m {
    font: var(--font-m);
}

.size_l {
    font: var(--font-l);
}

.size_xl {
    font: var(--font-xl);
}

.ripple {
    z-index: 100;
    position: absolute;
    background: white;
    transform: translate(-50%, -50%);
    pointer-events: none;
    border-radius: 50%;
    animation: ripple-anim 0.8s linear infinite;
}

.clear {
    background: none;
    font-weight: 500;

    .ripple {
        background: var(--bg-shadow-color);
    }
}

.clear:hover {
    background-color: var(--bg-shadow-color-light);
}

.background {
    background: var(--bg-color);
    font-weight: 500;
    border: 1px solid var(--bar-border);

    .ripple {
        background: var(--bg-shadow-color);
    }
}

.background:hover {
    border-color: var(--primary-color);
}

.backgroundInverted {
    background-color: var(--primary-color);
    transition: background-color 0.5s ease;
    color: var(--bg-color);
    box-shadow:
        0 3px 1px -2px rgb(0 0 0 / 20%),
        0 2px 2px 0 rgb(0 0 0 / 14%),
        0 1px 5px 0 rgb(0 0 0 / 12%);

    &:hover {
        background-color: var(--primary-color-dark);
    }
}

@keyframes ripple-anim {
    0% {
        width: 0;
        height: 0;
        opacity: 0.7;
    }

    25% {
        opacity: 0.2;
    }

    100% {
        width: 20rem;
        height: 20rem;
        opacity: 0;
    }
}

.symbol {
    padding: 0;
    font-weight: bold;
}
