.Sidebar {
    height: calc(100vh - var(--navbar-height));
    width: var(--sidebar-width);
    background: var(--sidebar-color);
    position: relative;
    border-right: 1px solid var(--bar-border);
    box-shadow: 1px 3px 7px 0 var(--bar-shadow-color);
    transition: width 0.3s ease;
    display: flex;
    flex-direction: column;
    padding-left: 14px;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    padding-top: 1em;
}

.button {
    position: absolute;
    background: var(--sidebar-color);
    top: 45%;
    padding: 2px 8px;
    left: calc(var(--sidebar-width) - calc(var(--font-line-xl) / 2));
    font: var(--font-xl);
    font-weight: bold;
    transition: left 0.3s ease;
    border: none;
    box-shadow: 2px 0 4px 0 var(--bar-shadow-color);
}

.collapsed {
    padding: 0;

    .menu {
        align-items: center;
    }

    width: var(--sidebar-width-collapsed);

    .button {
        left: calc(var(--sidebar-width-collapsed) - calc(var(--font-line-xl) / 2));
    }
}
