.LoginForm{}

.container {
    display: grid;
    min-height: 490px;
    min-width: 400px;
    padding: 0 40px;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 90px 90px 40px 80px auto;
    grid-template-areas:
        "h1"
        "input1"
        "input2"
        "ButtonGroup"
        "link";
    align-items: center;
}

.buttonGroup {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 12px;
    border-top: 1px solid var(--bar-border);
    padding-top: 12px;
}

.h1 {
    padding-top: 12px;
    padding-bottom: 24px;
    color: var(--text-secondary-dark);
    text-align: center;
    align-self: start;
    border-bottom: 1px solid var(--bar-border);
    font: var(--font-xl);
    font-weight: bolder;
}

.link {
    text-align: center;
    align-self: end;
    justify-content: start;
}
.error{
    text-align: center;
    color: red;
}
