.button {
    outline: none;
    background: none;
    border: none;

    & :nth-child(n) {
        fill: var(--text-secondary);
    }
}

.clear {
    padding: 0.2em;
    background-color: inherit;

    .button {
        background-color: inherit;
    }

    &:hover {
        .button :nth-child(n) {
            fill: var(--primary-color);
        }
    }
}

.text {
    margin-left: 0.5em;
    font-weight: 600;
    opacity: 0;
    transition: opacity 0.8s ease;
}

.IconButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.3em 2em;
    border-radius: 1.2em;
    cursor: pointer;
    color: var(--text-secondary);

    &:active {
        scale: 0.97;
    }

    &:hover {
        .button :nth-child(n) {
            fill: var(--bg-color);
        }

        &:not(.clear) {
            background-color: var(--primary-color);

            .button {
                background-color: var(--primary-color);
            }

            .text {
                background-color: var(--primary-color);
                color: var(--bg-color);
            }
        }
    }
}

.showText {
    opacity: 1;
}
