.app_dark_theme {
    --bg-color: #3f3f46;
    --inverted-bg-color: #d3e1e0;
    --primary-color: #1fb61f;
    --primary-color-light: rgb(72 170 241 / 50%);
    --secondary-color: #e2e8f0;
    --navbar-color: #000;
    --sidebar-color: #000;
    --bar-border: #52525b;
    --bar-shadow-color: #3498db7f;
    --text-secondary: #71717a;
}
