.dark {
    --bg-color: #3F3F46;
    --inverted-bg-color: #d3e1e0;
    --primary-color: #1fb61f;
    --primary-color-light: rgba(72, 170, 241, 0.5);
    --secondary-color: #E2E8F0;
    --navbar-color: #000000;
    --sidebar-color: #000000;
    --bar-border: #52525B;
    --bar-shadow-color: #3498DB7F;
    --text-secondary:#71717A;
}
