.light {
    --bg-color: #FAFAFA;
    --inverted-bg-color: #101a1a;
    --primary-color: #1779dc;
    --primary-color-light: #7DA6F37F;
    --secondary-color: #94A3B8;
    --navbar-color: #FFFFFF;
    --sidebar-color: #FFFFFF;
    --bar-border: #D4D4D8;
    --bar-shadow-color: #3498DB7F;
    --text-secondary:#71717A;
}
