.app_light_theme {
    --bg-color: #fafafa;
    --bg-shadow-color: rgb(10 1 1 / 39%);
    --bg-shadow-color-light: rgb(10 1 1 / 10%);
    --inverted-bg-color: #101a1a;
    --primary-color: #1779dc;
    --primary-color-light: #1976d2;
    --primary-color-dark: #1354a1;
    --secondary-color: #94a3b8;
    --navbar-color: #fff;
    --sidebar-color: #fff;
    --bar-border: #d4d4d8;
    --bar-shadow-color: #3498db7f;
    --text-secondary: #71717a;
    --text-secondary-dark: #3a3a3c;
    --text-secondary-light: rgb(114 114 122 / 50%);
}
