.light {
    --bg-color: #fafafa;
    --inverted-bg-color: #101a1a;
    --primary-color: #1779dc;
    --primary-color-light: #7da6f37f;
    --secondary-color: #94a3b8;
    --navbar-color: #fff;
    --sidebar-color: #fff;
    --bar-border: #d4d4d8;
    --bar-shadow-color: #3498db7f;
    --text-secondary: #71717a;
}
