.Navbar {
    width: 100%;
    height: var(--navbar-height);
    background: var(--navbar-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 12%;
}

.AnotherLink {
    margin-left: 8px;
}

.icons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menuIcon {
    margin-right: 12px;
}
